 * {
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: 'Hanken Grotesk', sans-serif;
 }

body {
    background-color: #202b38;
}

main {
    position: relative;
    width: 100%;
    height: 98vh;
    color: hsla(0, 0%, 100%, 65%);
}

.scoreboardBox {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 450px;
    width: 665px;
    border-radius: 8%;
    background-color: #fff;
}

.averageBox {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 8%;
    color: #fff;
}

.resultTitle {
    font-weight: 500;
    font-size: 22px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: hsla(0, 0%, 100%, 65%);
}

.circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 10px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.currentFont {
    font-size: 65px;
    font-weight: 700;
    height: 40%;
}

.average {
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 30px;
}

.resultFont {
    color: hsla(0, 0%, 100%, 50%);
    font-size: 16px;
}

.comment {
    font-weight: 700;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.averageResult {
    color: hsla(0, 0%, 100%, 50%);
    width: 230px;
}

.summaryBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}

span {
    color: hsla(224, 30%, 27%, 60%);
    font-weight: 700;
}

.summaryTitle {
    font-size: 22px;
    margin: 20px 35px;
    color: hsl(224, 30%, 27%);
    font-weight: 700;
}

.elements {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summaryAlign {
    display: flex;
    background-color: darkcyan;
    align-items: center;
    height: 45px;
    font-weight: 600;
    font-size: 16px;
    margin: 7px;
}

.currentColor {
    color: hsl(224, 30%, 27%);
    margin-left: auto;
}

.summaryLogo {
    margin: 12px;
}

.reaction {
    color: hsl(0, 100%, 67%);
    width: 260px;
    background-color: hsla(0, 100%, 67%, 10%);
    border-radius: 10px;
}

.memory {
    color:hsl(39, 100%, 56%);
    width: 260px;
    background-color: hsla(39, 100%, 56%, 10%);
    border-radius: 10px;
}

.verbal {
    color: hsl(166, 100%, 37%);
    width: 260px;
    background-color: hsla(166, 100%, 37%, 10%);
    border-radius: 10px;
}

.visual {
    color: hsl(234, 85%, 45%);
    width: 260px;
    background-color: hsla(234, 85%, 45%, 10%);
    border-radius: 10px;
}

.maxScore {
    margin-right: 15px;
}

.continueButton {
    height: 50px;
    margin: 40px 37px;
    border: none;
    border-radius: 30px;
    background-color: hsl(224, 30%, 27%);
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

footer {
    display: flex;
    height: 1vh;
    align-items: center;
    justify-content: center;
    color: #fff;
}

@media (max-width: 375px) {

    body {
        background-color: #fff;
    }

    .scoreboardBox {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        border-radius: 0%;
        width: 375px;
        background-color: #fff;
    }

    .averageBox {
        background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
        text-align: center;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #fff;
    }

    .circle {
        border-radius: 50%;
        height: 150px;
        width: 150px;
        margin: 10px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    }
    
    .currentFont {
        margin: 15px;
    }

    footer {
        display: flex;
        height: 1vh;
        align-items: center;
        justify-content: center;
        color: black;
        background-color: #fff;
    }
}